<div class="region-search row">
  <div class="col-md-4">
    <fieldset class="selector">
      <label>Region:</label>
      <select class="search-selector" [(ngModel)]="selectedRegion"(change)="getDistricts($event)" >
        <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
      </select>
    </fieldset>
 </div>
 <div class="col-md-4">
<fieldset class="selector">
  <label>District:</label>
  <select [disabled]="districtsDisabled" class="search-selector" [(ngModel)]="selectedDistrict" (change)="getSuburbs($event)">
    <option *ngFor="let district of districts" [ngValue]="district">{{district.name}}</option>
  </select>
</fieldset>
</div>
<div class="col-md-4">
<fieldset class="selector">
  <label>Suburb:</label><br />
  <ss-multiselect-dropdown [disabled]="suburbsDisabled" class="search-selector" [options]="suburbOptions" [texts]="suburbTexts" [settings]="suburbListSettings" [(ngModel)]="selectedSuburbs"(ngModelChange)="getSelectedSuburbs($event)">
  </ss-multiselect-dropdown>
</fieldset>
</div>
</div>