<div class="region-search row">
  <div class="col-md-4">
    <fieldset class="selector">
      <label>Region:</label>
      <select class="search-selector" [(ngModel)]="selectedRegion"(change)="getDistricts($event)" >
        <option *ngFor="let region of regions" [ngValue]="region">{{region.name}}</option>
      </select>
    </fieldset>
 </div>
 <div class="col-md-4">
<fieldset class="selector">
  <label>District:</label>
  <select [disabled]="districtsDisabled" class="search-selector" [(ngModel)]="selectedDistrict" (change)="getSuburbs($event)">
    <option *ngFor="let district of districts" [ngValue]="district">{{district.name}}</option>
  </select>
</fieldset>
</div>
<div class="col-md-4">
<fieldset class="selector">
  <label>Suburb:</label><br />
  <ss-multiselect-dropdown [disabled]="suburbsDisabled" 
                            class="search-selector"
                            [options]="suburbOptions" 
                            [texts]="suburbTexts" 
                            [settings]="suburbListSettings" 
                            [(ngModel)]="selectedSuburbs" 
                            (ngModelChange)="getSelectedSuburbs($event)">
  </ss-multiselect-dropdown>
</fieldset>
</div>
</div>

<div class="room-price-search row">
  <div class="col-md-4">
<fieldset class="selector">
  <label>Bedrooms:</label><br/>
  <select class="room-search-selector" [(ngModel)]="minBedrooms">
    <option value="" disabled hidden [value]="any">Any</option>
    <option *ngFor="let bedroom of bedroomOptions" [ngValue]="bedroom" [selected]="bedroom == 'Any'">{{bedroom}}</option>
  </select>
  to
  <select class="room-search-selector" [(ngModel)]="maxBedrooms">
      <option value="" disabled hidden [value]="any">Any</option>
    <option *ngFor="let bedroom of bedroomOptions" [ngValue]="bedroom">{{bedroom}}</option>
  </select>
</fieldset>
  </div>
<div class="col-md-4">
<fieldset class="selector">
  <label>Bathrooms:</label><br/>
  <select class="room-search-selector" [(ngModel)]="minBathrooms">
      <option value="" disabled hidden [value]="any">Any</option>
    <option *ngFor="let bathroom of bathroomOptions" [ngValue]="bathroom">{{bathroom}}</option>
  </select>
  to
  <select class="room-search-selector" [(ngModel)]="maxBathrooms" >
      <option value="" disabled hidden [value]="any">Any</option>
    <option *ngFor="let bathroom of bathroomOptions" [ngValue]="bathroom">{{bathroom}}</option>
  </select>
</fieldset>
</div>
<div class="col-md-4">
<fieldset class="selector">
  <label>Price:</label><br />
  <select class="room-search-selector" [(ngModel)]="minPrice" >
      <option value="" disabled hidden [value]="any">Any</option>
      <option *ngFor="let price of priceOptions" [ngValue]="price">{{price | currency:'NZD':true:'1.2-2'}}</option>
  </select>
  to
  <select class="room-search-selector" [(ngModel)]="maxPrice" >
      <option value="" disabled hidden [value]="any">Any</option>
      <option *ngFor="let price of priceOptions" [ngValue]="price">{{price | currency:'NZD':true:'1.2-2'}}</option>
  </select>
</fieldset>
</div>
</div>

<div class="property-type-search row">
    <div class="col-md-4">
        <fieldset class="selector">
            <label>Property Type:</label><br />
            <ss-multiselect-dropdown class="search-selector" [options]="propertyTypeOptions" [texts]="propertyTypeTexts" [settings]="propertyTypeListSettings" [(ngModel)]="selectedPropertyTypes">
            </ss-multiselect-dropdown>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="selector">
            <label>Open Home Date:</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                    (dateChanged)="onDateChanged($event)"
                    [(ngModel)]="model"
                    [selDate]="selectedDate" required></my-date-picker>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="selector">
            <label class="white">Search</label><br/>
            <button class="search-button btn btn-primary" (click)="onSearch($event)">Search</button>
        </fieldset>
    </div>
</div>