/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #369;
    padding-top: 0; 
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}

h1 {
    color: #369;
    font-size: 250%;
}

.banner {
    width: 100%;
}

.selector {
    margin: 0;
    width: 239.462px;
    border: none;
}

.dropdown-menu {
    list-style-type: none;
}

.dropdown-item a {
    text-decoration: none;
    color: #369;
}

.dropdown-toggle {
    background-color: #369;
    color: #fff;
    width: 235px;
}