@{
    ViewBag.Title = "About";
}

<div class="container">

    <h2>About Open Home Planner</h2>
    <p>
        Welcome to Open Home Planner! A smarter way to organise and plan your journey to purchasing a new Home!
        </p>
        <p>
            Open Home Planner aims to reduce the arduous guesswork out of creating your Open Home plan. Simply pick points of interest,
            and we will do the rest!

    </p>

</div>