
@{
    ViewBag.Title = "Agents";
}
<div class="container">

    <h2>Agent Offering</h2>

    <p>
        We are currently working out our Agents offering. If you would like to know more in the
        future please email <a href="mailto:agents@openhomeplanner.co.nz">us</a> and we will keep you informed of
        exciting opportunities.

    </p>
    </div>