@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <address>
        Open Home Finder<br />
        Howick, Auckland<br />
        <abbr title="Phone">P:</abbr>
        022 072 6092
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">support@openhomeplanner.co.nz</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@openhomeplanner.co.nz</a>
    </address>
</div>