<div class="property-type-search row">
    <div class="col-md-4">
        <fieldset class="selector">
            <label>Property Type:</label><br />
            <ss-multiselect-dropdown class="search-selector" [options]="propertyTypeOptions" [texts]="propertyTypeTexts" [settings]="propertyTypeListSettings" [(ngModel)]="selectedPropertyTypes">
            </ss-multiselect-dropdown>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="selector">
            <label>Open Home Date:</label>
            <my-date-picker name="mydate" [options]="myDatePickerOptions"
                    (dateChanged)="onDateChanged($event)"
                    [(ngModel)]="model"
                    [selDate]="selectedDate" required></my-date-picker>
        </fieldset>
    </div>
    <div class="col-md-4">
        <fieldset class="selector">
            <label class="white">Search</label><br/>
            <button class="search-button btn btn-primary">Search</button>
        </fieldset>
    </div>
</div>